/*RESET*/
/*
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, 
td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} 
body {line-height: 1;}ol, 
ul{list-style:none;} 
blockquote, q{quotes:none;} 
blockquote:before, 
blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} 
ins{text-decoration:none;} 
del{text-decoration:line-through;} 
table{border-collapse:collapse; border-spacing:0;} 
*/
/*MAIN*/
body { 
	font-size: 1.05em;
	line-height: 1.25em;
	font-family: Helvetica Neue, Helvetica, Arial;
	background: #000000; 
	color: #555;
    height: 100%;
}

a {

	color: #4C9CF1;
	text-decoration: none;
	font-weight: bold;

}

a:hover {

	color: #444;

}


header {

	background: #fff;
	width: 100%;
	height: 90px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 4px solid #007bff;
	z-index: 2;

}

object{
	 background: url(data:image/svg+xml;base64,[data]);
	margin: -5px;
	float: left;
	width: 200px;
	height: 100px;
	
	display: block;
	position: absolute;
	left: 15%;
}

nav {

	float: right;
	padding: 30px;	
	
}

#menu-icon {

	display: inline;
	width: 40px;
	height: 40px;
	background: #000000 url(../img/menu-icon.svg) center;

}

a:hover#menu-icon {

	background-color: red;
	border-radius: 5px 5px 0 0;

}

ul {

	list-style: none;

}

li {
    font-size: 25px;
	display: inline-block;
	float: left;
	padding: 10px

}

.current {

	color: #d83a0f;

}

section {
	background: #000000; 
	margin: 10px auto 40px;
	max-width: 1080px;
	position: relative;
	padding: 20px;
    height: 100%;

}  /*polosa*/




p {

	line-height: 1.45em;
	margin-bottom: 20px;
	color: white;
}
html { 
    position:relative; 
    min-height:100%;
    max-width: 
}
footer {
        height:45px;
        width:100%;
        position: absolute;
        bottom: 0;
        background: #fff;
        left: 0px;
}

/*MEDIA QUERY*/
@media screen and (max-width : 1300px) {
    footer{
         position: absolute;
         bottom 0;
    }
    
	header {

		position: absolute;

	}
    

	#menu-icon {

		display:inline-block;

	}
   
 
    

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 10px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

        
display: block;}}
